<timi-container>
  <h3 class="card-title">我的项目</h3>
  <mat-tab-group>
    <mat-tab label="卡片">
      <div class="mat-tab-card">
        <timi-card></timi-card>
        <timi-card></timi-card>
        <timi-card></timi-card>
        <timi-card></timi-card>
        <timi-card></timi-card>
      </div>
    </mat-tab>
    <mat-tab label="列表">
      <div class="mat-tab-list">
        <timi-list></timi-list>
        <timi-list></timi-list>
        <timi-list></timi-list>
        <timi-list></timi-list>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div style="height: 40px;"></div>
  <mat-divider></mat-divider>
  <h3 class="card-title">我加入的项目</h3>
  <mat-tab-group>
    <mat-tab label="卡片">
      <div class="mat-tab-card">
        <timi-card></timi-card>
        <timi-card></timi-card>
      </div>
    </mat-tab>
    <mat-tab label="列表">
      <div class="mat-tab-list">
        <timi-list></timi-list>
        <timi-list></timi-list>
        <timi-list></timi-list>
        <timi-list></timi-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</timi-container>